// 定义主题变量
$n-border-radius: var(--n-border-radius, 2px); //一般圆角
$n-font-size-md: var(--n-font-size-md, 12px); //当组件size为''时使用此字号大小
$n-animation-duration-slow: var(--n-animation-duration-slow, 300ms);
$n-animation-ease-in-out-smooth: var(--n-animation-ease-in-out-smooth,
    cubic-bezier(0.645, 0.045, 0.355, 1));
$n-light-text: var(--n-light-text, #ffffff); // 有色深色背景下字体颜色（固定）
$n-primary: var(--n-primary, #5e7ce0); // 主要按钮，同品牌色
$n-primary-hover: var(--n-primary-hover, #7693f5); // 主要按钮悬停
$n-primary-active: var(--n-primary-active, #344899); // 主要按钮激活
$n-text: var(--n-text, #252b3a); // 正文文本
$n-block: var(--n-block,
    #ffffff); // 大面积的不可折叠区块的背景色（例如顶部导航背景色）
$n-line: var(--n-line, #adb0b8); // 边框分割线，仅用于边框
$n-form-control-line-active: var(--n-form-control-line-active,
    #5e7ce0); // 表单控件边框激活色，用于获得焦点
$n-brand-active: var(--n-brand-active, #526ecc); // 品牌色激活色（加深）
$n-brand-active-focus: var(--n-brand-active-focus,
    #344899); // 品牌色焦点色（重度加深）

$n-font-size-sm: var(--n-font-size-md, 10px); //当组件size为''时使用此字号大小
$n-font-size-md: var(--n-font-size-md, 12px); //当组件size为''时使用此字号大小
$n-font-size-lg: var(--n-font-size-md, 14px); //当组件size为''时使用此字号大小

$n-primary-disabled: var(--n-primary-disabled, #98a8df); // 主要按钮禁用状态
$n-disabled-text: var(--n-disabled-text, #757a83); // 禁用文本
$n-disabled-bg: var(--n-disabled-bg, #c6c9cf); // 禁用背景
$n-disabled-line: var(--n-disabled-line, #a5a8ad); // 禁用边框

.n-btn {
  // 布局样式
  @apply inline-flex items-center justify-center;

  // 元素属性
  @apply border-[1px] border-solid border-transparent h-[28px] py-0 px-[20px] bg-transparent;
  border-radius: $n-border-radius;

  // 文本属性
  @apply outline-0 leading-normal whitespace-nowrap cursor-pointer;

  // 文字样式
  font-size: $n-font-size-md;

  // 其他样式
  transition: background-color $n-animation-duration-slow $n-animation-ease-in-out-smooth,
    border-color $n-animation-duration-slow $n-animation-ease-in-out-smooth,
    color $n-animation-duration-slow $n-animation-ease-in-out-smooth;

  // 主要按钮
  &.n-btn--primary {
    color: $n-light-text;
    background-color: $n-primary;

    &:hover,
    &:focus {
      background-color: $n-primary-hover;
    }

    &:active {
      background-color: $n-primary-active;
    }

    &:disabled {
      color: $n-light-text;
      background: $n-primary-disabled;
      border: none;
    }
  }

  // 次要按钮
  &.n-btn--secondary {
    color: $n-text;
    background-color: $n-block;
    border-color: $n-line;

    &:hover,
    &:focus,
    &:active {
      border-color: $n-form-control-line-active;
      color: $n-brand-active;
    }

    &:disabled {
      color: $n-disabled-text;
      background: $n-disabled-bg;
      border: 1px solid $n-disabled-line;
    }
  }

  // 文字按钮
  &.n-btn--text {
    padding: 0;
    color: $n-brand-active;

    &:hover,
    &:focus,
    &:active {
      color: $n-brand-active-focus;
    }

    &:disabled {
      color: $n-disabled-text;
    }
  }

  // small尺寸
  &.n-btn--small {
    height: 24px;
    padding: 0 16px;
    font-size: $n-font-size-sm;
  }

  // 次要按钮
  &.n-btn--medium {
    font-size: $n-font-size-md;
  }

  // 文字按钮
  &.n-btn--large {
    height: 32px;
    padding: 0 24px;
    font-size: $n-font-size-lg;
  }

  // 禁用鼠标
  &[disabled] {
    cursor: not-allowed;
  }

  // 块级
  &.n-btn--block {
    display: block;
    width: 100%;
  }
}